<a href="https://colab.research.google.com/github/aboltCD/aboltCD/blob/main/Pandas_Ejemplos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejemplos de Pandas

Primero importamos pandas

In [36]:
import pandas as pd

Ahora cargaremos una versión filtrada del dataset de Iris (Fischer, 1936)

In [37]:
iris = pd.read_csv('/content/iris_train.csv')
iris.head()

   Id  SepalLengthCm  ...  PetalWidthCm          Species
0   1            6.3  ...           1.5  Iris-versicolor
1   2            6.3  ...           1.3  Iris-versicolor
2   3            7.3  ...           1.8   Iris-virginica
3   4            5.0  ...           0.3      Iris-setosa
4   5            6.0  ...           1.5  Iris-versicolor

[5 rows x 6 columns]

In [38]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             135 non-null    int64
 1   SepalLengthCm  135 non-null    float64
 2   SepalWidthCm   135 non-null    float64
 3   PetalLengthCm  135 non-null    float64
 4   PetalWidthCm   135 non-null    float64
 5   Species        135 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 6.5+ KB

# Filtrado

Ahora aplicamos dos filtros al largo y ancho del sépalo

In [39]:
filtro1 = iris['SepalLengthCm']>5.5
filtro2 = iris['SepalWidthCm']>3.3
iris2 = iris.loc[filtro1 & filtro2,:]
iris2.head()

    Id  SepalLengthCm  ...  PetalWidthCm          Species
18  19            6.3  ...           2.4   Iris-virginica
27  28            7.2  ...           2.5   Iris-virginica
48  49            7.7  ...           2.2   Iris-virginica
51  52            6.0  ...           1.6  Iris-versicolor
65  66            5.8  ...           0.2      Iris-setosa

[5 rows x 6 columns]

In [40]:
species = iris2['Species']
species.value_counts()

Iris-virginica     5
Iris-versicolor    1
Iris-setosa        1
Name: Species, dtype: int64

# Agregaciones

A continuación calcularemos promedios para las 4 columnas sin usar funciones de agregación

Ancho de sépalos

In [41]:
x = 0
for i in range(len(iris)):
  x = x + iris.loc[i,'SepalWidthCm']
print(x/len(iris))

3.0451851851851854

Largo de sépalos

In [42]:
x = 0
for i in range(len(iris)):
  x = x + iris.loc[i,'SepalLengthCm']
print(x/len(iris))

5.811111111111112

Ancho de Pétalos

In [43]:
x = 0
for i in range(len(iris)):
  x = x + iris.loc[i,'PetalWidthCm']
print(x/len(iris))

1.1696296296296294

Largo de Pétalos

In [44]:
x = 0
for i in range(len(iris)):
  x = x + iris.loc[i,'PetalLengthCm']
print(x/len(iris))

3.705185185185186

Ahora usando funciones de agregación de pandas :)

In [45]:
iris.mean()

Id               68.000000
SepalLengthCm     5.811111
SepalWidthCm      3.045185
PetalLengthCm     3.705185
PetalWidthCm      1.169630
dtype: float64

Ahora, agrupamos por especie y calculamos el promedio para una columna (variable) en particular:

In [46]:
iris.groupby(['Species'])[['SepalLengthCm']].mean()

                 SepalLengthCm
Species
Iris-setosa           4.976087
Iris-versicolor       5.959574
Iris-virginica        6.559524

Ahora, para todas las columnas simplemente no especificamos ninguna :)

In [52]:
iris.groupby(['Species']).describe()

                   Id                             ... PetalWidthCm
                count       mean        std  min  ...          25%  50%  75%  max
Species                                           ...
Iris-setosa      46.0  76.413043  37.119971  4.0  ...          0.2  0.2  0.3  0.6
Iris-versicolor  47.0  60.914894  42.219319  1.0  ...          1.2  1.3  1.5  1.8
Iris-virginica   42.0  66.714286  36.737889  3.0  ...          1.8  2.0  2.2  2.5

[3 rows x 40 columns]

# Manipulación de Datos
Cambiaremos algunos nobres de columnas.
Nota como podemos cambiar más de un nombre a la vez utilizando comas dentro de la función rename(). Además nota el uso de comillas simples ' y dobles " es equivalente para simbolizar caracteres y cadenas en python

In [48]:
iris_mod = iris.rename(columns={'SepalLengthCm':'LargoSepalo','SepalWidthCm':'AnchoSepalo','PetalLengthCm':'LargoPetalo','PetalWidthCm':'AnchoPetalo',"Species":"Especie"})
iris_mod.head()

   Id  LargoSepalo  AnchoSepalo  LargoPetalo  AnchoPetalo          Especie
0   1          6.3          2.5          4.9          1.5  Iris-versicolor
1   2          6.3          2.3          4.4          1.3  Iris-versicolor
2   3          7.3          2.9          6.3          1.8   Iris-virginica
3   4          5.0          3.5          1.3          0.3      Iris-setosa
4   5          6.0          2.9          4.5          1.5  Iris-versicolor

Ahora podemos eliminar columnas particulares (en vez de seleccionar todas las restantes utilizando slices o rebanadas). En este caso, eliminamos la columna "Especie":

In [49]:
iris_mod2 = iris_mod.drop(columns=['Especie'])
iris_mod2.head()

   Id  LargoSepalo  AnchoSepalo  LargoPetalo  AnchoPetalo
0   1          6.3          2.5          4.9          1.5
1   2          6.3          2.3          4.4          1.3
2   3          7.3          2.9          6.3          1.8
3   4          5.0          3.5          1.3          0.3
4   5          6.0          2.9          4.5          1.5

Pasaremos la primera columna (LargoSepalo) de centímetros a milímetros al multiplicar por 10

In [50]:
iris_mod3 = iris_mod2
iris_mod3['LargoSepalo'] = iris_mod2['LargoSepalo'].apply(lambda x: x*10)
iris_mod3.head()

   Id  LargoSepalo  AnchoSepalo  LargoPetalo  AnchoPetalo
0   1         63.0          2.5          4.9          1.5
1   2         63.0          2.3          4.4          1.3
2   3         73.0          2.9          6.3          1.8
3   4         50.0          3.5          1.3          0.3
4   5         60.0          2.9          4.5          1.5

Ahora probamos la función crosstab para ver histogramas de frecuencia de cruce de variables:

In [51]:
pd.crosstab(iris_mod2['AnchoPetalo'],iris_mod2['AnchoSepalo'])

AnchoSepalo  2.0  2.2  2.3  2.4  2.5  2.6  ...  3.7  3.8  3.9  4.0  4.1  4.2
AnchoPetalo                                ...
0.1            0    0    0    0    0    0  ...    0    0    0    0    1    0
0.2            0    0    0    0    0    0  ...    2    1    0    1    0    1
0.3            0    0    1    0    0    0  ...    0    1    0    0    0    0
0.4            0    0    0    0    0    0  ...    1    0    2    0    0    0
0.5            0    0    0    0    0    0  ...    0    0    0    0    0    0
0.6            0    0    0    0    0    0  ...    0    0    0    0    0    0
1.0            1    1    0    2    0    1  ...    0    0    0    0    0    0
1.1            0    0    0    1    2    0  ...    0    0    0    0    0    0
1.2            0    0    0    0    0    1  ...    0    0    0    0    0    0
1.3            0    0    2    0    1    0  ...    0    0    0    0    0    0
1.4            0    0    0    0    0    1  ...    0    0    0    0    0    0
1.5            0    2    0    0    1    0  ...    0    0    0    0    0    0
1.6            0    0    0    0    0    0  ...    0    0    0    0    0    0
1.7            0    0    0    0    1    0  ...    0    0    0    0    0    0
1.8            0    0    0    0    1    0  ...    0    0    0    0    0    0
1.9            0    0    0    0    1    0  ...    0    0    0    0    0    0
2.0            0    0    0    0    1    0  ...    0    1    0    0    0    0
2.1            0    0    0    0    0    0  ...    0    0    0    0    0    0
2.2            0    0    0    0    0    0  ...    0    1    0    0    0    0
2.3            0    0    0    0    0    1  ...    0    0    0    0    0    0
2.4            0    0    0    0    0    0  ...    0    0    0    0    0    0
2.5            0    0    0    0    0    0  ...    0    0    0    0    0    0

[22 rows x 22 columns]