<a href="https://colab.research.google.com/github/aboltCD/aboltCD/blob/main/Pandas_Ejemplos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejemplos de Pandas

Primero importamos pandas

In [ ]:
import pandas as pd

Ahora cargaremos una versión filtrada del dataset de Iris (Fischer, 1936)

In [ ]:
iris = pd.read_csv('/content/iris_train.csv')
iris.head()

   Id  SepalLengthCm  ...  PetalWidthCm          Species
0   1            6.3  ...           1.5  Iris-versicolor
1   2            6.3  ...           1.3  Iris-versicolor
2   3            7.3  ...           1.8   Iris-virginica
3   4            5.0  ...           0.3      Iris-setosa
4   5            6.0  ...           1.5  Iris-versicolor

[5 rows x 6 columns]

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             135 non-null    int64
 1   SepalLengthCm  135 non-null    float64
 2   SepalWidthCm   135 non-null    float64
 3   PetalLengthCm  135 non-null    float64
 4   PetalWidthCm   135 non-null    float64
 5   Species        135 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 6.5+ KB

# Filtrado

Ahora aplicamos dos filtros al largo y ancho del sépalo

In [ ]:
filtro1 = iris['SepalLengthCm']>5.5
filtro2 = iris['SepalWidthCm']>3.3
iris2 = iris.loc[filtro1 & filtro2,:]
iris2.head()

    Id  SepalLengthCm  ...  PetalWidthCm          Species
18  19            6.3  ...           2.4   Iris-virginica
27  28            7.2  ...           2.5   Iris-virginica
48  49            7.7  ...           2.2   Iris-virginica
51  52            6.0  ...           1.6  Iris-versicolor
65  66            5.8  ...           0.2      Iris-setosa

[5 rows x 6 columns]

In [ ]:
species = iris2['Species']
species.value_counts()

Iris-virginica     5
Iris-setosa        1
Iris-versicolor    1
Name: Species, dtype: int64

# Agregaciones

A continuación calcularemos promedios para las 4 columnas sin usar funciones de agregación

Ancho de sépalos

In [ ]:
x = 0
for i in range(len(iris)):
  x = x + iris.loc[i,'SepalWidthCm']
print(x/len(iris))

3.0451851851851854

Largo de sépalos

In [ ]:
x = 0
for i in range(len(iris)):
  x = x + iris.loc[i,'SepalLengthCm']
print(x/len(iris))

5.811111111111112

Ancho de Pétalos

In [ ]:
x = 0
for i in range(len(iris)):
  x = x + iris.loc[i,'PetalWidthCm']
print(x/len(iris))

1.1696296296296294

Largo de Pétalos

In [ ]:
x = 0
for i in range(len(iris)):
  x = x + iris.loc[i,'PetalLengthCm']
print(x/len(iris))

3.705185185185186

Ahora usando funciones de agregación de pandas :)

In [ ]:
iris.mean()

Id               68.000000
SepalLengthCm     5.811111
SepalWidthCm      3.045185
PetalLengthCm     3.705185
PetalWidthCm      1.169630
dtype: float64